body {
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
}

h1,h2,h3,h4 {
	font-family: 'Nunito', sans-serif;
}
.orange {
	color: #FF8D1F;
}

.orange-bg {
	background-color: #FF8D1F;
}

.blue {
	color: #0084BD;
}

.blue-bg {
	background-color: #0084BD;
}

.flex-container {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.space-around {
	justify-content: space-around;
	align-items: center;
}

h6 {
	color: black;
	font-size: 50px;
	font-weight: 800;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	margin-top: 25px;
}

header .navbar {
	border-radius: 0px;
	border: none;
}

header .navbar-default {
	background-color: white;
}

header .navbar-default .navbar-brand {
	color: #0084BD;
}

header .navbar-default .navbar-nav li a {
	color: #0084BD;
}

header .navbar-default .navbar-header a:hover {
	color: #00ABBD;
}

header .navbar-default .navbar-nav li a:hover {
	color: #00ABBD;
}

.switches {
	margin: 70px 20px;
}

.switches > div {
	background-color: white;
	color: #0084BD;
}

.switches > .col-md-6 {
	width: 45%;
	margin: 0% 2%;
	display: inline-block;
}

div.col-md-6.active {
	background-color: #00ABBD;
}

div.col-md-6.active > a {
	color: white;
}

.switches div:hover {
	background-color: #00ABBD;
	color: white;
}

.switches > div > a {
	display: block;
	padding: 50px 0px;
	text-align: center;
	font-size: 18px;
}

.switches > div > a:hover {
	color: white;
	text-decoration: none;
}

.switches > div > a > span {
	margin-right: 15px;
}

.timer {
	margin-top: 30px;
	color: #00ABBD;;
}

.timer > input {
	color: #00ABBD;
}

.timer a.btn-default {
	border: none;
	border-radius: 0px;
	color: #0084BD;
	position: relative;
	top: -1px;
}

a.btn-default:hover {
	background-color: #00ABBD!important;
	color: white;
}

img.bulb {
	-webkit-filter: invert(1.0);
	filter: invert(1.0);
}

div.status {
	width: 250px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#ledStatus {
	position: relative;
	top: 20px;
	left: 15px;
}

#ledStatus.off {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url('/images/light_off.png');
	background-size: cover;
	-webkit-filter: invert(1.0);
	filter: invert(1.0);
}

#ledStatus.on {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url('/images/light_on.png');
	background-size: cover;
	-webkit-filter: invert(1.0);
	filter: invert(1.0);
}

img.nodeImage {
	width:288px;
	height:150px;
}

img.rpiLogoImage {
	width:85px;
	height:110px;
}

#rpiImage {
	width: 300px;
	height: 200px;
	padding: 15px;
}

#iot {
	width: 480px;
	height: 200px;
}

.wrapper {
	text-align: center;
}


footer {
	height: 250px;
}

footer .social {
	display: flex;
	justify-content: space-around;
	padding-bottom: 60px;
}

footer .social img {
	width: 75px;
	height: 75px;
}

footer h3 {
	text-align: center;
	margin: 50px 0px;
	background-color: white;
	color: #0084BD;
	padding: 20px 0px;
}

footer p {
	text-align: center;
}

@media (max-width: 991px) {
	
	h3 {
		font-size: 16px;
	}

	img.nodeImage {
		width: 144px;
		height: 75px;
	}

	img.rpiLogoImage {
		width: 42px;
		height: 55px;
	}

	#iot {
		width: 200px;
		height: 80px;
	}
}