body {
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
}

h1,h2,h3,h4 {
	font-family: 'Nunito', sans-serif;
}
.orange {
	color: #FF8D1F;
}

.orange-bg {
	background-color: #FF8D1F;
}

.blue {
	color: #0084BD;
}

.blue-bg {
	background-color: #0084BD;
}

.flex-container {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.space-around {
	justify-content: space-around;
	align-items: center;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	margin-top: 25px;
}

header .navbar {
	border-radius: 0px;
	border: none;
}

header .navbar-default {
	background-color: white;
}

header .navbar-default .navbar-brand {
	color: #0084BD;
}

header .navbar-default .navbar-nav li a {
	color: #0084BD;
}

header .navbar-default .navbar-header a:hover {
	color: #00ABBD;
}

header .navbar-default .navbar-nav li a:hover {
	color: #00ABBD;
}

.switches {
	margin: 70px 20px;
}

.switches > div {
	background-color: white;
	color: #0084BD;
}

.switches > .col-md-6 {
	width: 45%;
	margin: 0% 2%;
	display: inline-block;
}

div.col-md-6.active {
	background-color: #00ABBD;
}

div.col-md-6.active > a {
	color: white;
}

.switches div:hover {
	background-color: #00ABBD;
	color: white;
}

.switches > div > a {
	display: block;
	padding: 50px 0px;
	text-align: center;
	font-size: 18px;
}

.switches > div > a:hover {
	color: white;
	text-decoration: none;
}

.switches > div > a > span {
	margin-right: 15px;
}

.timer {
	margin-top: 30px;
	color: #00ABBD;;
}

.timer > input {
	color: #00ABBD;
}

.timer a.btn-default {
	border: none;
	border-radius: 0px;
	color: #0084BD;
}

a.btn-default:hover {
	background-color: #00ABBD!important;
	color: white;
}

img.bulb {
	-webkit-filter: invert(1.0);
	filter: invert(1.0);
}