<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChacePi</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style>
		main {
			background-color: black;
		}
	</style>
</head>
<body>
	<header class="container-fluid">
		<nav class="navbar navbar-default container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">ChacePi</a>
			</div>
			<ul class="nav navbar-nav">
		        <li><a href="/led">LED</a></li>
		        <li><a href="/iot">IoT</a></li>
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raspberry Pi <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			            <li><a href="/about">About</a></li>
			            <li><a href="/tech">Tech</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Home Automation</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			        </ul>
			    </li>
			</ul>
		</nav>
	</header>