<%- include('partials/header.ejs'); %>
<main class="container">
	<div class="row">
		<h3 style="margin-bottom:30px;"><span class="glyphicon glyphicon-pushpin" style="margin-right:15px;"></span>Raspberry Pi Node.js GPIO Web Control</h3>
		<div class="flex-container space-around" style="background-color:white;">
			<img src="/images/nodejs-logo.png" alt="" style="width:288px;height:150px;">
			<img src="/images/Raspberry_Pi_Logo.png" alt="" style="width:85px;height:110px;">
		</div>
		<p style="margin-top:50px;padding:0px 80px;text-align:justify">
		Hello, World my name is Chace Kim and this is my Raspberry Pi project. I built a web server on my Pi with Node.js and express framework, to control its GPIO pins by sending HTTP requests. This is my first attempt at using Node.js and JavaScript outside a web browser. The Pi is running Rasbian OS which is based on Linux, the UNIX environment. This project was very appealing to me as I could code on a tangible server on my hand. It was much easier for me to think and imagine about the server-side programming. 
		<br>
		<br>
		I managed to run the server and control the GPIO in the first place with Python, but as mentioned above, I wanted to maximise the use of resources provided by my school, which is JavaScript, yet the most commonly used programming language in the world.</p>
	</div>
</main>
<%- include('partials/footer.ejs'); %>