<%- include('partials/header.ejs'); %>
<main class="container">
	<h2>IoT - Internet of Things</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi maxime cum deserunt ratione. Error unde, consequatur ab incidunt nobis, totam, sint fugiat fuga blanditiis itaque ex ad quasi dolorem?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nemo cum ad maxime alias voluptate assumenda at qui similique pariatur veritatis itaque possimus laborum, eos neque optio quod accusamus necessitatibus, aut quaerat in dolores! Labore molestias ab facere, voluptatibus corporis accusamus ipsa itaque excepturi dicta fugit, earum dignissimos iusto doloribus.</p>
</main>
<%- include('partials/footer.ejs'); %>