<%- include('partials/header.ejs'); %>
<main class="container">
	<h2>LED Control Panel</h2>
	<ul>
		<li><a href="/led/on">Turn LED ON</a></li>
		<li><a href="/led/off">Turn LED OFF</a></li>
	</ul>
</main>
<%- include('partials/footer.ejs'); %>