<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChacePi</title>
</head>
<body>
	<h1>LED Control</h1>
	<ul>
		<li><a href="/led/on">Turn LED ON</a></li>
		<li><a href="/led/off">Turn LED OFF</a></li>
	</ul>
</body>
</html>