<%- include('partials/header.ejs'); %>
<main class="container">
	<h2>LED Control Panel</h2>
	<p>Here is where you can command ChacePi to toggle LED with its GPIO.</p>
	<div class="row switches flex-container space-around">
		<div class="col-md-6">
			<a href="/led/on"><span class="glyphicon glyphicon-lamp"></span>Turn LED ON</a>
		</div>
		<div class="col-md-6">
			<a href="/led/off"><span class="glyphicon glyphicon-off"></span>Turn LED OFF</a>
		</div>
	</div>

	
	<h2>Set On/Off Timer</h2>
	<p>You can set individual times for both ON and OFF</p>
	<div class="row timer flex-container" style="justify-content:space-around;align-items:center;">
		<div class="ontimer">
			<input type="text" placeholder="ON time" style="border:none;padding:20px;">
			<a href="" class="btn btn-default" style="padding: 20px 15px;">Set Time</a>
		</div>
		<div class="offtimer">
			<input type="text"placeholder="OFF time" style="border:none;padding:20px	;">
			<a href="" class="btn btn-default" style="padding: 20px 15px;">Set Time</a>
		</div>
	</div>
	
</main>
<%- include('partials/footer.ejs'); %>