<%- include('partials/header.ejs'); %>
<main class="container">
	<h3>LED is OFF</h3>
	<a href="/led">To control LED</a>
	<a href="/led/on">Turn LED ON</a>
</main>
<%- include('partials/footer.ejs'); %>