<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChacePi</title>
</head>
<body>
	<h1>LED is ON</h1>
	<a href="/led">To control LED</a>
	<a href="/led/off">Turn LED OFF</a>
</body>
</html>