<%- include('partials/header.ejs'); %>
<main class="container">
	<h3>LED is ON</h3>
	<a href="/led">To control LED</a>
	<a href="/led/off">Turn LED OFF</a>
</main>
<%- include('partials/footer.ejs'); %>